<div class="search-header">
    <div class="search-wrapper">
        <label for="mobileSearchBar">
            <img src="assests/images/search.png" alt="search" />
        </label>
        <input type="checkbox" id="mobileSearchBar" />
        <input type="search" placeholder="Search" />
    </div>
    <div class="item-wrapper">
        <div class="icons-wrapper">
            <img src="assests/images/translate.png" alt="translate" />
            <img src="assests/images/menu.png" alt="menu" />
            <img src="assests/images/dark-mode.png" alt="dark-mode" />
            <img src="assests/images/notification.png" alt="translate" />
        </div>
        <div class="profile">
            <div class="profile-img">
                <img src="assests/images/profile-images/profile-image-one.webp" alt="profile" width="30px" />
            </div>
            <div class="description">
                <div class="name">Jhon Abraham</div>
                <div class="role">Admin</div>
            </div>
            <div class="fa-icon">
                <img class="fa fa-chevron-down" src="assests/images/chevron-down.svg" />
            </div>
        </div>
    </div>
</div>